<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" sizes="192x192" href="icons/logo.png">
    <% for (let index in htmlWebpackPlugin.options.css) { %>
    <link href="<%=htmlWebpackPlugin.options.css[index] %>" rel="stylesheet">
    <% } %>
</head>
<body>

<div class="content">
    <div class="header">
        <div class="tip">
            <span class="completeTip"></span>
            Conversion is successful.
        </div>
        <h1>Online audio format conversion</h1>
        <p>Convert your files to ogg or bin format with this free, fast online converter.</p>
    </div>

    <!--文件转换-->
    <div id="fileConversion">
        <div class="fileInfo">
            <div class="uploadedFile">
                <div class="left">
                    <div class="audioFileIcon"></div>
                    <span class="fileName"></span>
                </div>

                <div class="right">
                    <div class="duration">
                        <label>Output format:</label>
                        <select id="outputFormat">
                            <option value="ogg">ogg</option>
                            <option value="bin">gsbin</option>
                        </select>

                        <label>| Recording duration</label>
                        <input type="range" min="1" max="30" value="30">
                        <span class="durationShow">30</span>s

                        <label>| Audio fade out</label>
                        <input id="audioFadeOut" type="checkbox" value="" checked />
                    </div>
                    <div id="player">
                        <audio controls="" src=""></audio>
                    </div>
                </div>
            </div>

            <!--  进度条  -->
            <div id="progress"></div>

            <div class="switchConfirm">
                <button id="fileWitch">Convert</button>
            </div>
        </div>
    </div>

    <!--文件上传-->
    <div id="fileUploadContent">
        <div class="fileIcon">
            <span class="fileOpen"></span>
            <p>You can drag the file directly here.</p>
        </div>
        <div class="select">
            <button id="selectButton">
                <span class="filePlus"></span>
                Select the file to upload
            </button>
            <input type="file" id="uploadFile" />
        </div>
    </div>

    <!-- 日志打印   -->
    <div class="console">
        <div class="consoleHeader">Console</div>
        <div id="consoleLog"></div>
    </div>
</div>
<% for (let chunk in htmlWebpackPlugin.options.js) { %>
<script type="text/javascript" src="<%=htmlWebpackPlugin.options.js[chunk] %>"></script>
<% } %>
</body>
</html>
